
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cart-plus fa-2x text-dark"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title bg-primary text-white">장바구니</li>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">메뉴명</th>
            <th scope="col">수량</th>
            <th scope="col">금액</th>
          </tr>
          </thead>
      </table>
        <li class="button-container">
          <a href="{{url_for('home_blueprint.order')}}" class="btn btn-primary btn-block">
             주문하기
          </a>
        </li>
      </ul>
    </div>
  </div>
