{% extends "layouts/base.html" %}

{% block title %} 고민고민하지말조 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style type="text/css">

        .user_bg {
        background: #F2B138;
        }

        .user_font {
            font-family: 'Do Hyeon';
            font-size: 60px;
        }
    </style>

{% endblock stylesheets %}

{% block content %}
     <div class="card">
      <div class="card-header text-center" >
        <h3 class="user_font" >고민고민하지말조</h3>
      </div>
     <img class="card-img-top" src="/static/assets/img/city-profile.jpg" alt="Card image top" style="height: 20%">
      <div class="row text-center">
          <div class="col align-self-center ">
<!--              <button type="button" href="{{url_for('home_blueprint.user')}}" class="btn w-100 h-100 user_bg">주문하시려면 화면을 터치해주세요. </button>-->
              <a onclick="check_info()" class="btn w-100 h-100 text-dark user_bg user_font">촬영 동의하고 시작하기</a>
              <a href="{{url_for('home_blueprint.direct_menu')}}" class="btn btn-dark w-100 h-100 text-dark user_font">메뉴 선택 바로가기</a>
          </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });

    function check_info() {
        window.open('check_info.html', '개인정보 이용 동의', width=200, height=200);
    };

  </script>

{% endblock javascripts %}