{% extends "layouts/base.html" %}

{% block title %} 고민고민하지말조 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="row">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">메뉴</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#korean" data-toggle="tab">
                      <i class="material-icons">rice_bowl</i> 한식
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#chinese" data-toggle="tab">
                      <i class="material-icons">dinner_dining</i> 분식
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#japanese" data-toggle="tab">
                       <i class="material-icons">restaurant</i> 양식
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#western" data-toggle="tab">
                      <i class="material-icons">bento</i> 일식
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#casual" data-toggle="tab">
                       <i class="material-icons">ramen_dining</i>중식
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="korean">
                 <div class="row">
                     {%for obj in data_list%}
                        {% if obj.store_id == 1 %}
                            <div class="col-sm-4">
                                <div class="card">
                                     <img class="card-img-top" src="/static/menu/{{obj.menu_img}}" alt="Card image top" style="height: 240px; width: 100%">
                                     <form action="/add_cart" method="post">
                                         <div class="card-body text-center">
                                             <input type="hidden" name="menu_id" value="{{obj.menu_id}}">
                                             <input type="hidden" name="store_id" value="{{obj.store_id}}">
                                             <input type="hidden" name=path value="{{path}}">
                                             <input type="text" class="form-control text-center bg-white h4" aria-label="메뉴명" name="menu_name" value="{{obj.menu_name}}" readonly>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">금액</span>
                                              </div>
                                              <input type="number" class="form-control text-center" aria-label="가격" name="menu_price" value="{{obj.menu_price}}" readonly>
                                            </div>
                                               <div class="input-group">
                                                   <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                                                   <input type="number" class="form-control text-center" value="1" name="menu_qty" readonly>
                                                   <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                                              </div>
                                        </div>
                                        <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
                                     </form>
                                </div>
                            </div>
                        {%endif%}
                     {%endfor %}
                </div>
              </div>
              <div class="tab-pane" id="chinese">
                <div class="row">
                     {%for obj in data_list%}
                        {% if obj.store_id == 2 %}
                            <div class="col-sm-4">
                                <div class="card">
                                     <img class="card-img-top" src="/static/menu/{{obj.menu_img}}" alt="Card image top" style="height: 240px; width: 100%">
                                     <form action="/add_cart" method="post">
                                         <div class="card-body text-center">
                                             <input type="hidden" name="menu_id" value="{{obj.menu_id}}">
                                             <input type="hidden" name="store_id" value="{{obj.store_id}}">
                                             <input type="hidden" name=path value="{{path}}">
                                             <input type="text" class="form-control text-center bg-white h4" aria-label="메뉴명" name="menu_name" value="{{obj.menu_name}}" readonly>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">금액</span>
                                              </div>
                                              <input type="number" class="form-control text-center" aria-label="가격" name="menu_price" value="{{obj.menu_price}}" readonly>
                                            </div>
                                               <div class="input-group">
                                                   <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                                                   <input type="number" class="form-control text-center" value="1" name="menu_qty" readonly>
                                                   <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                                              </div>
                                        </div>
                                        <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
                                     </form>
                                </div>
                            </div>
                        {%endif%}
                     {%endfor %}
                </div>
              </div>
              <div class="tab-pane" id="japanese">
                <div class="row">
                     {%for obj in data_list%}
                        {% if obj.store_id == 3 %}
                            <div class="col-sm-4">
                                <div class="card">
                                     <img class="card-img-top" src="/static/menu/{{obj.menu_img}}" alt="Card image top" style="height: 240px; width: 100%">
                                     <form action="/add_cart" method="post">
                                         <div class="card-body text-center">
                                             <input type="hidden" name="menu_id" value="{{obj.menu_id}}">
                                             <input type="hidden" name="store_id" value="{{obj.store_id}}">
                                             <input type="hidden" name=path value="{{path}}">
                                             <input type="text" class="form-control text-center bg-white h4" aria-label="메뉴명" name="menu_name" value="{{obj.menu_name}}" readonly>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" >금액</span>
                                              </div>
                                              <input type="number" class="form-control text-center" aria-label="가격" name="menu_price" value="{{obj.menu_price}}" readonly>
                                            </div>
                                               <div class="input-group">
                                                   <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                                                   <input type="number" class="form-control text-center" value="1" name="menu_qty" readonly>
                                                   <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                                              </div>
                                        </div>
                                        <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
                                     </form>
                                </div>
                            </div>
                        {%endif%}
                     {%endfor %}
                </div>
              </div>
              <div class="tab-pane" id="western">
                <div class="row">
                     {%for obj in data_list%}
                        {% if obj.store_id == 4 %}
                            <div class="col-sm-4">
                                <div class="card">
                                     <img class="card-img-top" src="/static/menu/{{obj.menu_img}}" alt="Card image top" style="height: 240px; width: 100%">
                                     <form action="/add_cart" method="post">
                                         <div class="card-body text-center">
                                             <input type="hidden" name="menu_id" value="{{obj.menu_id}}">
                                             <input type="hidden" name="store_id" value="{{obj.store_id}}">
                                             <input type="hidden" name=path value="{{path}}">
                                             <input type="text" class="form-control text-center bg-white h4" aria-label="메뉴명" name="menu_name" value="{{obj.menu_name}}" readonly>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">금액</span>
                                              </div>
                                              <input type="number" class="form-control text-center" aria-label="가격" name="menu_price" value="{{obj.menu_price}}" readonly>
                                            </div>
                                               <div class="input-group">
                                                   <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                                                   <input type="number" class="form-control text-center" value="1" name="menu_qty" readonly>
                                                   <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                                              </div>
                                        </div>
                                        <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
                                     </form>
                                </div>
                            </div>
                        {%endif%}
                     {%endfor %}
                </div>
              </div>
              <div class="tab-pane" id="casual">
                <div class="row">
                     {%for obj in data_list%}
                        {% if obj.store_id == 5 %}
                            <div class="col-sm-4">
                                <div class="card">
                                     <img class="card-img-top" src="/static/menu/{{obj.menu_img}}" alt="Card image top" style="height: 240px; width: 100%">
                                     <form action="/add_cart" method="post">
                                         <div class="card-body text-center">
                                             <input type="hidden" name="menu_id" value="{{obj.menu_id}}">
                                             <input type="hidden" name="store_id" value="{{obj.store_id}}">
                                             <input type="hidden" name=path value="{{path}}">
                                             <input type="text" class="form-control text-center bg-white h4" aria-label="메뉴명" name="menu_name" value="{{obj.menu_name}}" readonly>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" >금액</span>
                                              </div>
                                              <input type="number" class="form-control text-center" aria-label="가격" name="menu_price" value="{{obj.menu_price}}" readonly>
                                            </div>
                                               <div class="input-group">
                                                   <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                                                   <input type="number" class="form-control text-center" value="1" name="menu_qty" readonly>
                                                   <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                                              </div>
                                        </div>
                                        <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
                                     </form>
                                </div>
                            </div>
                        {%endif%}
                     {%endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    장바구니
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr class="table-warning">
                                <td scope="col">번호</td>
                                <td scope="col">메뉴명</td>
                                <td scope="col">수량</td>
                                <td scope="col">금액</td>
                            </tr>
                        </thead>
                        <tbody>
                            {%for obj in cart_list%}
                                <tr>
                                    <td>{{obj.cart_id}}</td>
                                    <td>{{obj.menu_name}}</td>
                                    <td>{{obj.menu_qty}} 개</td>
                                    <td class="text-right pr-sm-4">{{'{:,}'.format(obj.menu_price)}} 원</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">합 계</td>
                                <td>{{cart_list|sum(attribute='menu_qty')}} 개</td>
                                <td class="text-right pr-sm-4">{{'{:,}'.format(cart_list|sum(attribute='menu_price'))}} 원</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row text-center align-middle">
                  <div class="col-sm-6 align-self-center">
                    <a href="{{url_for('home_blueprint.cancel')}}" class="btn btn-primary w-100 h-100"><h3>결제취소</h3></a>
                  </div>

                  <div class="col-sm-6 align-self-center">
                      <a href="{{url_for('home_blueprint.pay')}}" class="btn btn-primary w-100 h-100"><h3>결제하기</h3></a>
                  </div>

                    <div class="col align-self-center w-100">
                    <a href="{{url_for('home_blueprint.menu')}}" class="btn btn-primary w-100 h-100"><h3>추가 메뉴 주문</h3></a>
                    </div>
                </div>
            </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
