{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .user_bg {
        background: rgb(234, 112, 45);
        }
    .nega_bg {
        background: rgb(76, 76, 76);
    }
    .user_font {
            font-family: 'Jua';
            font-size: 30px;
    }

    .card img{
            height: 180px;
            width: 100%;
    }
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

</style>

{% endblock stylesheets %}

{% block content %}

    <div class="row mt-4">
        <div class="card col-md-10 pt-4" style="margin: 0 auto;">
            <div class="card-header user_bg text-center">
                <h3 class="user_font border-bottom" style="font-size: 60px;">주문확인</h3>
            </div>
          {% for obj in cart_list %}
            <div class="row">
                <div class="col-9" style="margin: 0 auto; ">
                    <div class="card" style="box-shadow: 10px 10px 20px darkgray;">
                        <div class="card-horizontal no-gutters">
                            <div class="img-square-wrapper col-md-4">
                                <img class="rounded" src="/static/menu/{{obj.menu_img}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <div class="card-header">
                                    <form action="/delete" method="post">
                                        <h4 class="card-title user_font"><button type="submit" class="close text-right" aria-label="Close"><span aria-hidden="true">&times;</span></button></h4>
                                        <input type="hidden" name='cart_menu' value="{{obj.menu_name}}">
                                        <input type="hidden" name="path" value="{{path}}">
                                    </form>
                                </div>
                                <div class="card-text h-100 text-left pl-5">
                                    <p class="card-text user_font">{{obj.menu_name}} {{obj.menu_qty}}</p>
                                    <p class="card-text user_font">{{'{:,}'.format(obj.menu_price)}} 원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
            <div class="row">
                <div class="card" style="background-color: #eeeeee; margin: 0 auto;">
                    <div class="card-header w-100 p-4 user_font">총 주문 금액 <span class="float-right">{{'{:,}원'.format(cart_list|sum(attribute='menu_price'))}}</span></div>
                    <div class="card-body pb-0">
                        <div class="row text-center">
                            <div class="btn-group w-100">
                                <a href="{{url_for('home_blueprint.menu')}}" class="btn user_font nega_bg w-100 h-100" style="font-size: 30px">돌아가기</a>
                                <a href="{{url_for('home_blueprint.pay')}}" class="btn user_font user_bg w-100 h-100" style="font-size: 30px;">결제하기</a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}