{% extends "layouts/base.html" %}

{% block title %} 고민고민하지말조 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

      <div class="card col-md-8" style="margin: 0 auto;">
        <div class="card-header card-header-primary">
          <h4 class="card-title text-center">오늘의 기분에 맞는 표정을 보여주세요</h4>
        </div>
        <div class="card-body text-center">
<!--            <img src="{{url_for('home_blueprint.video_feed')}}" width="100%">-->
<!--            <button type="submit" class="btn btn-primary col-md-8 p-md-4" onclick="window.location.href='{{url_for('home_blueprint.capture')}}';" style="font-size: 20px;">촬영하기</button>-->
            <video autoplay="true"></video>
            <form method="POST" enctype="multipart/form-data" id="uploadForm">
                <input type="file" name="profile">
                <canvas id='takePhotoCanvas'></canvas>
                <button type="button" id="btnUpload" class="btn btn-primary col-md-8 p-md-4" onclick="onTakePhotoButtonClick()" style="font-size: 20px;">촬영하기</button>
            </form>
<!--            <button type="button" id="takePhotoButton" class="btn btn-primary col-md-8 p-md-4" onclick="onTakePhotoButtonClick()" style="font-size: 20px;">촬영하기</button>    -->

            <div class="clearfix"></div>
        </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    // uploadCanvasToServer = function() {
    //   const canvas = document.getElementById('takePhotoCanvas');
    //   const imgBase64 = canvas.toDataURL('image/jpeg', 'image/octet-stream');
    //   const decodImg = atob(imgBase64.split(',')[1]);
    //
    //   let array = [];
    //   for (let i = 0; i < decodImg .length; i++) {
    //     array.push(decodImg .charCodeAt(i));
    //   }
    //
    //   const file = new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
    //   const fileName = 'canvas_img_' + new Date().getMilliseconds() + '.jpg';
    //   let formData = new FormData();
    //   formData.append('file', file, fileName);
    //
    //   $.ajax({
    //     type: 'post',
    //     url: '/upload_image',
    //     cache: false,
    //     data: formData,
    //     processData: false,
    //     contentType: false,
    //     success: function (data) {
    //       alert('Uploaded !!')
    //     }
    //   })
    // };

//     $('#btnUpload').on('click', function(event) {
//     event.preventDefault();
//
//     var form = $('#uploadForm')[0]
//     var data = new FormData(form);
//
//     $('#btnUpload').prop('disabled', true);
//
//     $.ajax({
//         type: "POST",
//         enctype: 'multipart/form-data',
//         url: "/upload_image",
//         data: data,
//         async: false,
//         processData: false,
//         contentType: false,
//         cache: false,
//         dataType: 'json',
//         timeout: 600000,
//         success: function (data) {
//         	$('#btnUpload').prop('disabled', false);
//         	// window.location.href = 'recommend.html'
//             alert(data);
//         	alert('success');
//         },
//         error: function (e) {
//             $('#btnUpload').prop('disabled', false);
//             alert('fail');
//         }
//     });
// })
    var imageCapture;

	function onGetUserMediaButtonClick() {
	  navigator.mediaDevices.getUserMedia({video: true})
	  .then(mediaStream => {
		document.querySelector('video').srcObject = mediaStream;

		const track = mediaStream.getVideoTracks()[0];
		imageCapture = new ImageCapture(track);
	  })
	  .catch(error => ChromeSamples.log(error));
	}

	function onTakePhotoButtonClick() {
	  imageCapture.takePhoto()
	  .then(blob => createImageBitmap(blob))
	  .then(imageBitmap => {
		const canvas = document.querySelector('#takePhotoCanvas');
		drawCanvas(canvas, imageBitmap);

	  })
	  .catch(error => ChromeSamples.log(error));
	}

	/* Utils */

	function drawCanvas(canvas, img) {
	  canvas.width = getComputedStyle(canvas).width.split('px')[0];
	  canvas.height = getComputedStyle(canvas).height.split('px')[0];
	  let ratio  = Math.min(canvas.width / img.width, canvas.height / img.height);
	  let x = (canvas.width - img.width * ratio) / 2;
	  let y = (canvas.height - img.height * ratio) / 2;
	  canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
	  canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
		  x, y, img.width * ratio, img.height * ratio);

        var data = canvas.toDataURL();


        $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: '/upload_image',
        data: data,
        async: false,
        processData: false,
        contentType: false,
        cache: false,
        dataType: 'json',
        success: function (data) {
            window.location.href = '/recommend'
        },
        error: function (e) {
            alert('fail');
        }
        });
	}


    onGetUserMediaButtonClick()


</script>

{% endblock javascripts %}
