{% extends "layouts/base.html" %}

{% block title %} 고민고민하지말조 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

      <div class="card col-md-8" style="margin: 0 auto;">
        <div class="card-header card-header-primary">
          <h4 class="card-title text-center">오늘의 기분에 맞는 표정을 보여주세요</h4>
        </div>
        <div class="card-body text-center">
            <img src="{{url_for('home_blueprint.video_feed')}}" width="100%">
            <button type="submit" class="btn btn-primary col-md-8 p-md-4" onclick="window.location.href='{{url_for('home_blueprint.capture')}}';" style="font-size: 20px;">촬영하기</button>
            <div class="clearfix"></div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    // function hasGetUserMedia() {
    //   return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
    // }
    // if (hasGetUserMedia()) {
    //   // Good to go!
    // } else {
    //   alert("getUserMedia() is not supported by your browser");
    // }
    // const constraints = {
    //   video: true,
    // };
    //
    // const video = document.querySelector("video");
    //
    // navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
    //   video.srcObject = stream;
    // });
    // function onTakePhotoButtonClick() {
	//   imageCapture.takePhoto()
	//   .then(blob => createImageBitmap(blob))
	//   .then(imageBitmap => {
	// 	const canvas = document.querySelector('#takePhotoCanvas');
	// 	drawCanvas(canvas, imageBitmap);
	//   })
	//   .catch(error => ChromeSamples.log(error));
	// }

	// function drawCanvas(canvas, img) {
	//   canvas.width = getComputedStyle(canvas).width.split('px')[0];
	//   canvas.height = getComputedStyle(canvas).height.split('px')[0];
	//   let ratio  = Math.min(canvas.width / img.width, canvas.height / img.height);
	//   let x = (canvas.width - img.width * ratio) / 2;
	//   let y = (canvas.height - img.height * ratio) / 2;
	//   canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
	//   canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
	// 	  x, y, img.width * ratio, img.height * ratio);
	// }
    //
	// document.querySelector('video').addEventListener('play', function() {
	//   document.querySelector('#grabFrameButton').disabled = false;
	//   document.querySelector('#takePhotoButton').disabled = false;
	// });
</script>

{% endblock javascripts %}
