{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <h3>결제 방법을 선택하세요.</h3>
      </div>
      <div class="card-body">
        <div class="row text-center align-middle" style="height: 400px;">
          <div class="col-sm-6 align-self-center">
            <a href="{{url_for('home_blueprint.payment')}}" class="btn btn-primary w-100 h-100"><h3>카드</h3></a>
          </div>
          <div class="col-sm-6 align-self-center">
            <a href="{{url_for('home_blueprint.payment')}}" class="btn btn-primary w-100 h-100"><h3>현금</h3></a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}