{% extends "layouts/base.html" %}

{% block title %} 고민고민하지말조 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="user_font border-bottom">이 메뉴를 추천해드립니다.</h3>
            </div>
            <div class="card-body">


            <div class="row text-center">
                <a href="{{url_for('home_blueprint.direct_menu')}}" class="btn col-sm-6 text-white nega_bg user_font rounded" style="margin: 0 auto; font-size: 20px">완료하기</a>
            </div>
      </div>
    </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();
    });

  </script>
{% endblock javascripts %}