{% extends "layouts/base.html" %}

{% block title %} Recommend {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="card-header bg-primary text-white text-center">
        <h4>추천 상품</h4>
    </div>
    <div class="card-deck">
         <div class="card">
             <img class="card-img-top" src="https://source.unsplash.com/daily" alt="Card image top">
             <form>
                 <div class="card-body text-center">
                     <h4 class="card-title">불고기</h4>
                     <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">금액</span>
                      </div>
                      <input type="text" class="form-control" aria-label="가격" aria-describedby="basic-addon1" value="" readonly>
                    </div>
                       <div class="input-group">
                           <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                           <input type="number" class="form-control text-center" value="1" readonly>
                           <button class="btn btn-outline-secondary plus btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                      </div>
                </div>
                <input type="submit" value="장바구니 추가" class="btn btn-primary w-100 cart">
             </form>
        </div>
        <div class="card">
             <img class="card-img-top" src="https://source.unsplash.com/daily" alt="Card image top">
             <div class="card-body text-center">
                 <h4 class="card-title">불고기</h4>
                   <div class="input-group">
                        <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                          <input type="number" class="form-control text-center" value="1" readonly>
                        <button class="btn btn-outline-secondary btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                  </div>
            </div>
             <button type="button" class="btn btn-primary">장바구니 추가</button>
        </div>
        <div class="card">
             <img class="card-img-top" src="https://source.unsplash.com/daily" alt="Card image top">
             <div class="card-body text-center">
                 <h4 class="card-title">불고기</h4>
                   <div class="input-group">
                        <button class="btn btn-outline-secondary btn-sm minus" type="button"><i class="fas fa-minus"></i></button>
                          <input type="number" class="form-control text-center" value="1" readonly>
                        <button class="btn btn-outline-secondary btn-sm plus" type="button"><i class="fas fa-plus"></i></button>
                  </div>
            </div>
             <button type="button" class="btn btn-primary">장바구니 추가</button>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-primary text-white">
            장바구니
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td scope="col">번호</td>
                        <td scope="col">메뉴명</td>
                        <td scope="col">수량</td>
                        <td scope="col">금액</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">합 계</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

        </div>
        <div class="row text-center align-middle">
          <div class="col-sm-6 align-self-center">
            <a href="{{url_for('home_blueprint.pay')}}" class="btn btn-primary w-100 h-100"><h3>결제하기</h3></a>
          </div>
          <div class="col-sm-6 align-self-center">
            <a href="{{url_for('home_blueprint.menu')}}" class="btn btn-primary w-100 h-100"><h3>추가메뉴</h3></a>
          </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();
    });

  </script>
{% endblock javascripts %}