{% extends "layouts/base.html" %}

{% block title %} Submit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">

        .user_bg {
        background: rgb(225, 47, 35);
        }
        .nega_bg {
            background: rgb(54, 54, 54);
        }
        .user_font {
            font-family: 'Jua';
            font-size: 60px;
        }
        .user_btn:hover{
            background-color: #CA2826 !important;
        }
    </style>

{% endblock stylesheets %}

{% block content %}
<div class="row mt-4">
    <div class="card col-md-10" style="margin: 0 auto;">
      <div class="card-header text-center">
        <h3 class="user_font border-bottom">
          주문이 완료되었습니다.
        </h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col text-center user_font h5" style="font-size: 40px">
                주문번호
              </div>
          </div>
          <div class="row">
              <div class="col text-center">
                <h2 class="user_font">{{order_list[0]['order_id']}}</h2>
              </div>
          </div>
          <div class="text-center align-self-center">
            <a href="{{url_for('home_blueprint.index')}}" class="btn user_bg w-100 h-100 user_font h3">홈으로 돌아가기</a>
          </div>
      </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
    // $(document).onload(setTimeout('go_home()', 10000));

    function go_home(){
        location.href = 'index.html'
    }
  </script>

{% endblock javascripts %}